.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    text-align: center;
}

.title {
    text-transform: uppercase;
    font-size: 3vw;
    font-family: "inter", sans-serif;
    cursor: pointer;
}

.scoreboard {
    min-width: 275;
}

.icon_res {
    color: rgba(145, 42, 42, 0.493) !important;
    font-size: 3rem !important;
}

.icon {
    color: blueviolet !important;
    font-size: 3rem !important;
}

.card_res {
    border: 1px solid #eee;
    /* JUST TO LOOK COOL */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    transition: all .3s ease-in-out;
}

.card_res:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}